# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=academymanagement
DB_USERNAME=root
DB_PASSWORD=

# JWT
JWT_SECRET=

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# Seed
SEED_ADMIN_PASSWORD=
SEED_REGISTRAR_PASSWORD=
SEED_HR_MANAGER_PASSWORD=
